@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/
.astro-j6tvhyss{
    font-size: 30px !important;
}
h1:where(.astro-j6tvhyss)
{ 
 font-size:30px
 }
 .sl-markdown-content h2{
  font-size:20px   
 }
 .hero:where(.astro-jbfsktt5){

padding: 0 !important;
 }